<a href="https://colab.research.google.com/github/BrunoNunesSKT/Aulas_Python_Basico_SoulCode/blob/main/Aula_SoulCode_Fundamentos_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **FUNDAMENTOS DE PYTHON**

Escola: SoulCode Academy

Curso: Bootcamp Analista de Dados - Martech - AD2

Período: Semana 4

Professores: Franciane Rodrigues e Douglas Ribeiro

Aluno: Bruno Nunes

* **Lógica de programação** é um conceito teórico que se refere à forma de pensar e abordar problemas de programação.

* **Algoritmo** é uma descrição abstrata de um processo ou solução que poderá ser executado por um computador;
* **Script** é um conjunto de instruções ou comandos escritos em uma linguagem de programação específica. Geralmente, os scripts são usados para automatizar tarefas ou para definir o comportamento de um programa ou sistema. Eles são frequentemente executados interpretando linha por linha, em vez de serem compilados em um programa executável separado.
* **Programa** é  um conjunto de instruções escritas em uma linguagem de programação específica, organizadas de forma lógica, para realizar uma tarefa ou resolver um problema específico. Ao contrário de um script, um programa é compilado ou interpretado antes da execução, resultando em um arquivo executável que pode ser executado diretamente em um sistema operacional.

## **Comentários e tipos básicos de dados**

In [ ]:
print('Olá, mundo!')  # Usando aspas simples
print("Olá, mundo!")  # Usando aspas duplas

# Isso é um comentário

Olá, mundo!
Olá, mundo!

In [ ]:
# Tipo de Dados

![Foto 1.png]()

In [ ]:
# Estamos escrevendo nossos dados pessoais
print(26)         #int
print(1.82)       #float
print('Bruno')    #str com aspas simples
print("Nunes")    #str com aspas duplas
print(False)      #bool  (dummy/binária)

26
1.82
Bruno
Nunes
False

**RESUMO**

*   Os **comentários** são como notas que você deixa para que você ou outra pessoa possa ler e ajuda documentar o seu código
*   **Comando print:** é uma função de saída utilizada em várias linguagens de
programação para exibir mensagens ou valores na tela do computador.
*   **\n**: usado para criar quebras de linha em um texto
*   Tipos de dados no Python mais usados são int, float, str, bool
*   int e float: dados quantitativos
*   str e bool: dados categóricos/qualitativos

## **Variáveis**

In [ ]:
# Declarando variáveis
idade = 26
altura = 1.82
nome = "Bruno"
sobrenome = "Nunes"
filhos = False

In [ ]:
# Imprimir na tela usando print
print(idade)
print(altura)
print(nome)
print(sobrenome)
print(filhos)

26
1.82
Bruno
Nunes
False

In [ ]:
# Imprimir na tela apenas usando o nome da variável
idade
altura
nome
sobrenome

'Nunes'

In [ ]:
# Impressão geral na tela de todas as variáveis declaradas
print(idade, altura, nome, sobrenome, filhos)

26 1.82 Bruno Nunes False

In [ ]:
# Comando type serve para checarmos o tipo de dados que a variável está declarada
type(idade)

int

In [ ]:
# Checando o tipo de variável usando os comandos print e type juntos

print(type(idade))
print(type(altura))
print(type(nome))
print(type(sobrenome))
print(type(filhos))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'bool'>

In [ ]:
'''Atenção: o python é sensivel as letras maiuscula e minusculas (case sensitive)
nome = "Bruno"
print(Nome)'''

In [ ]:
# Armazenando strings e número
nome_completo = "Bruno Nunes"
numero_favorito = "25"

In [ ]:
# Checando a variável numero_favorito
print(type(numero_favorito))

<class 'str'>

In [ ]:
# Se o número estiver entre aspas, ele se transforma em string
print(nome_completo, numero_favorito)

Bruno Nunes 25

In [ ]:
# Primento nome do nosso codigo
nome

'Bruno'

In [ ]:
# Renomeando a variável (Atribuindo novo "valor")
nome = "Henrique"

In [ ]:
# Atualização da variável "nome"
# Sempre a ultima alteração será a válida
nome

'Henrique'

**Resumo**
*  **Variáveis** permitem salvar valores na memória usando um nome que atribuímos
* Declaramos um nome no lado esquerdo do operador igual (“=”), e no lado direito, atribuir o valor que queremos salvar para usar mais tarde.
* Como ler: Declaramos a variável "a" ao valor do "2" do tipo int
* Como ler: Declaramos a variável "b" ao valor do "10.953" do tipo float
* Como ler: A variável "a" recebe valor 2 do tipo int
* Como ler: A variável "b" recebe valor 10.953 do tipo float
* É possível usar os dois comandos print e type juntos
* Atenção: Número pode ser string

**Regras para nomes de variáveis**
* Deve começar com uma letra (maíuscula ou minúscula) ou subcrito(_).
* Nunca pode começar com um número.
* Pode conter letras maiúsculas, minúsculas, números e subscrito.
* Não pode-se utilizar como parte do nome de uma variável:
{ ( + - * / \ ; . , ?
* Letras maiúsculas e minúsculas são diferentes:
casa = 4
Casa = 3

## **Conversão de variáveis**

In [ ]:
# Conversão de int para float

num_int = 25
num_float = float(num_int)

In [ ]:
# Checando a conversão (int para float)

print(type(num_int), type(num_float))
print(num_float)

<class 'int'> <class 'float'>
25.0

In [ ]:
# Conversão de int para string

num_int = 25
num_str = str(num_int)

In [ ]:
# Checando a conversão (int para string)

print(type(num_int), type(num_str))
print(num_str)

<class 'int'> <class 'str'>
25

In [ ]:
# Conversão de float para int

num_float = 24.9
num_int = int(num_float)

In [ ]:
# Checando a conversão (float para int)

print(type(num_float), type(num_int))
print(num_int)

<class 'float'> <class 'int'>
24

In [ ]:
# Conversão de float para str

num_float = 24.9
num_str = str(num_float)

In [ ]:
# Checando a conversão (float para str)

print(type(num_float), type(num_str))
print(num_str)

<class 'float'> <class 'str'>
25

In [ ]:
# Conversão de str para int

num_str = "25"
num_int = int(num_str)

In [ ]:
# Checando a conversão (str para int)

print(type(num_str), type(num_int))
print(num_int)

<class 'str'> <class 'int'>
25

In [ ]:
# Conversão de str para float

num_str = "25"
num_float = float(num_str)

In [ ]:
# Checando a conversão (str para float)

print(type(num_str), type(num_float))
print(num_float)

<class 'str'> <class 'float'>
25.0

In [ ]:
# FALHA NO SISTEMA:
#Conversão de str para int ()
# num_str = '10.5'
# num_int = int(num_str)

# Conversão de str para int ()
num_str = '24.9'
num_float = float(num_str) # conversão intermediária
num_int = int(num_float)

# Checando
print(type(num_str), type(num_int))
print(num_int)

<class 'str'> <class 'int'>
24

## **Operadores Matematicos**

Os operadores matematicos básicos, tais como: adição, subtração, multiplicação, divisão, exponenciação e radiciação podem ser feitos dentro do Python.

In [ ]:
# Adição

n1 = 5.8
n2 = 7.15
soma = n1 + n2

# Modos de apresentação
print(soma)
print('A soma é: ', soma)
print(f"A soma dos números é {soma: .2f}")
print(n1 + n2)
n1 + n2

12.95
A soma é:  12.95
A soma dos números é  12.95
12.95

12.95

In [ ]:
# Subtração

a1 = 154.587
a2 = 10.548
sub = a1 - a2

# Modos de apresentação
print(sub)
print('A substração é: ', round(sub,2))
print(f"A substração dos números é {sub: .2f}")
print(a1 - a2)
a1 - a2

12.95
A substração é:  144.04
A substração dos números é  144.04
144.039

144.039

In [ ]:
# Multiplicação

m1 = 5
m2 = 6
multi = m1 * m2

# Modos de apresentação
print(multi)
print('A multiplicação é: ', round(multi,2))
print(f"A multiplicação dos números é {multi: .2f}")
print(m1 * m2)
m1 * m2

30
A multiplicação é:  30
A multiplicação dos números é  30.00
30

30

In [ ]:
# Divisão

d1 = 625
d2 = 25
div = d1 / d2

# Modos de apresentação
print(div)
print('A divisão é: ', round(div,2))
print(f"A divisão dos números é {div: .2f}")
print(d1 / d2)
d1 / d2

25.0
A divisão é:  25.0
A divisão dos números é  25.00
25.0

25.0

## **Python Básico - Operadores**

In [ ]:
# Soma

soma = 3 + 2

#Subtração

sub = 3 - 2

#Multiplicação

multi = 3 * 2

#Divisão

div = 3 / 2

#Parte inteira da Divisão

int_div = 3 // 2

#Resto da Divisão

rest_div = 3 % 2

#Potenciação

pot = 3 ** 2

print(soma, sub, multi, div, int_div, rest_div, pot)

5 1 6 1.5 1 1 9

In [ ]:
#Melhorando a visualização dos prints com f-string

print(f'O resultado da soma de 3 com 2 é: {soma}')
print(f'O resultado da substração de 3 com 2 é: {sub}')
print(f'O resultado da multiplicação de 3 por 2 é: {multi}')
print(f'O resultado da divisão de 3 por 2 é: {div}')
print(f'A parte inteira da divisão de 3 por 2 é: {int_div}')
print(f'O resto da divisão de 3 por 2 é: {rest_div}')
print(f'A potenciação de 3 por 2 é: {pot}')

O resultado da soma de 3 com 2 é: 5
O resultado da substração de 3 com 2 é: 1
O resultado da multiplicação de 3 por 2 é: 6
O resultado da divisão de 3 por 2 é: 1.5
A parte inteira da divisão de 3 por 2 é: 1
O resto da divisão de 3 por 2 é: 1
A potenciação de 3 por 2 é: 9

## **Operadores de Comparação (Booleanos)**

In [ ]:
#Igualdade

igual = 3 == 2

#Diferenciação

dif = 3 != 2

#Maior que

maior = 3 > 2

#Menor que

menor = 3 < 2

#Maior ou igual

maior_igual = 3 >= 2

#Menor ou igual

menor_igual = 3 <= 2

## **Operadores de atribuição**

In [ ]:
#Atribuiçao direta (=)

nome = 'Bruno'

#Atribuição de incremento (+=)

b = 3
b += 1
print(f'O resultado de b + 1 é: {b}')

#Atribuição de decremento (-=)

n = 5
n -= 2
print(f'O resultado de n - 2 é: {n}')

#Atribuição de multiplicação (*=)

a = 5
a *= 2
print(f'O resultado de a * 2 é: {a}')

#Atribuição de divisão (/=)

c = 7
c /= 2
print(f'O resultado de c / 2 é: {c}')

#Atribuição da parte inteira da divisão (//=)

d = 7
d //= 2
print(f'O resultado de d // 2 é: {d}')

#Atribuição do resto da divisão (%=)

e = 7
e %= 2
print(f'O resultado de e % 2 é: {e}')

#Atribuição de potenciação (**=)

f = 6
f **= 2
print(f'O resultado de f ** 2 é: {f}')

O resultado de b + 1 é: 4
O resultado de n - 2 é: 3
O resultado de a * 2 é: 10
O resultado de c / 2 é: 3.5
O resultado de d // 2 é: 3
O resultado de e % 2 é: 1
O resultado de f ** 2 é: 36

## **Operadores lógicos**

In [ ]:
# (AND &)

teste1 = 3 >= 2 and 3 != 2 and 3 < 4
print(teste1)

teste2 = (3 <= 2) & (3 != 2) & (3 < 4)
print(teste2)

# (OR |)

teste3 = 3 >= 2 or 3 == 2 or 3 > 4
print(teste3)

teste4 = (3 >= 2) | (3 == 2) | (3 > 4)
print(teste4)

# (NOT)

teste5 = not(teste3)
print(teste4)

teste6 = not(teste2)
print(teste5)

True
False
True
True
True
False

## **Operadores de Identidade (is, is not)**

In [ ]:
# (IS) Compara se o objeto é igual ao outro em relação ao valor e o tipo

h = 3
p = 3

teste7 = p == h
print(f'p == h é: {teste7}')

teste8 = p is h
print(f'p is h é: {teste8}')

m = 3
o = 3.0

teste9 = m == o
print(f'm == o é: {teste9}')

teste10 = m is o
print(f'm is o é: {teste10}')

# (IS NOT) Compara se um objeto é diferente do outro em relação ao valor e o tipo

x = 3
y = 4
teste11 = x != y
print(f'x != y é: {teste11}')

teste12 = x is not y
print(f'x is not y é: {teste12}')

k = 3
l = 3.0
teste13 = k != l
print(f'k != l é: {teste13}')
teste14 = k is not l
print(f'k is not l é: {teste14}')

p == h é: True
p is h é: True
m == o é: True
m is o é: False
x != y é: True
x is not y é: True
k != l é: False
k is not l é: True

## **Operadores de associação**

In [ ]:
# (IN) Retorna verdadeiro se um caracter ou sequencia de caracteres for encontrados dentro da string

nome = 'Layssa'

teste15 = 'Lay' in nome
print(f'Layssa contem Lay: {teste15}')

# (NOT IN) Retorna verdadeiro se um caracter ou sequencia de caracteres NÃO for encontrados de uma string

teste16 = 'lay' not in nome
print(f'Layssa contém lay: {teste16}')

Layssa contem Lay: True
Layssa contém lay: True

## **Coletando informações do usuário**

In [ ]:
nome = input('Informe seu nome: ')
print(f'O nome digitado é: {nome}')
peso = int(input('Informe se peso em kg inteiros: '))
print(f'{nome} tem: {peso}kg')
altura = float(input('Informe sua altura em metros'))
print(f'{nome} tem {peso}kg e {altura} metros de altura')
imc = peso / altura**2
print(f'{nome} seu IMC é: {imc:.1f}')

## **Python Básico - Strings**

In [ ]:
#  0   1   2   3   4   5  6  7  8  9  10 11 12 13 (indice)
# -14 -13 -12 -11 -10 -9 -8 -7 -6 -5 -4 -3 -2 -1 (indice reverso)
#  1º  2º  3º  4º  5º  6º 7º 8º 9º 10º 11º 12º 13º 14º (ordinal)
# b n n s @ g m a i l . c o m

email = 'bnns@gmail.com'

#Encontrando um caracter pelo indice
#Exemplo: Qual é o quinto caracter dessa string?

print(f'O quinto caracter dessa string é: {email[4]}')

#Exemplo: Qual é o ultimo caracter dessa string?

print(f'O ultimo caracter dessa string é: {email[13]}')

#Exemplo: Quais são os caracteres que vem depois do segundo (excluindo o segundo)

print(f'A sequencia de caracteres após o segundo é: {email[2:]}')

#Exemplo: Quais são todos caracteres dessa string?

print(f'A sequencia de todos os caracteres dessa string é: {email[:]}')

#Exemplo: Buscar e imprimir todos os caracteres até o caracter de indice 4 (todos caracteres antes do @)

print(f'A sequencia de caracteres dessa string até o indice 4 é: {email[:5]}')

#Exemplo: Como acessar o ultimo caracter da lista sem contar o tamanho dela (sem usar a função len())?

print(f'O ultimo caracter dessa string é: {email[-1:]}')

O quinto caracter dessa string é: @
O ultimo caracter dessa string é: m
A sequencia de caracteres após o segundo é: ns@gmail.com
A sequencia de todos os caracteres dessa string é: bnns@gmail.com
A sequencia de caracteres dessa string até o indice 4 é: bnns@
O ultimo caracter dessa string é: m

Métodos para Strings

In [ ]:
# Sinal de (+) para concatenar strings

nome = 'Bruno'
sobrenome = 'Nunes'
print(f'{nome} {sobrenome}')

#Converter um númenro em string

cpf = 12345678910
cpf = str(cpf)
print(type(cpf))

Bruno Nunes
<class 'str'>

Métodos especificos para strings

In [ ]:
#Método para deixar a primeira letra de uma string maiuscula

nome1 = 'bruno'
print(nome1)
nome1 = nome1.capitalize()
print(nome1)

#Método para deixar todas letras minusculas

nome1 = nome1.casefold()
print(nome1)

bruno
Bruno
bruno

In [ ]:
# (COUNT) Contar quantas vezes um caracter aparece em uma string

material = 'paralelepipedo'
qtde_p = material.count('p')
print(f'{material} tem {qtde_p} Ps')

paralelepipedo tem 3 Ps

In [ ]:
# (ENDSWICH) Verifica se uma string termina com um caracter ou sequencia de caracteres

email = 'bnns@gmail.com'
teste_end = email.endswith('gmail.com')
print(teste_end)

True

In [ ]:
#  (STARTSWITH) Verifica se uma string começa com um caracter ou sequencia de caracteres

email = 'bnns@gmail.com'
teste_beg = email.startswith('b')
print(teste_beg)

True

In [ ]:
# (ISNUMERIC) Verifica se uma string é formada por numeros

rg = '123456789'
teste_rg = rg.isnumeric()
print(teste_rg)

True

In [ ]:
# (ISALPHA) Verifica se uma string é formada por letras

rg2 = '123456789'
teste_rg2 = rg2 = rg2.isalpha()
print(teste_rg2)

False

In [ ]:
# (ISALNUM) Verifica se uma string é formada por letras ou numeros

rg3 = '123456789'
teste_rg3 = rg3.isalnum()
print(teste_rg3)

True

In [ ]:
# (SPLIT) Separa uma string por caracteres especificos, se não especifica o caracter ela assume espaço como separador

dados = input('Informe os valores separados por espaço')
dados_sep= dados.split()
print(dados_sep)

Informe os valores separados por espaço1 2 3 4 5
['1', '2', '3', '4', '5']

In [ ]:
# (STRIP) Elimina caracteres indesejados de uma string, por padrão remove espaços do inicio e do final da string

autor = ' Bruno '
print(len(autor))
autor = autor.strip()
print(len(autor))

7
5

In [ ]:
# (REPLACE) Substitui um caracter por outro

preco = 'R$ 10.50'
print(preco)
preco = preco.replace('.',',')
print(preco)

R$ 10.50
R$ 10,50

In [ ]:
# (TITLE) Coloca a primeira da palavra em maiuscula

comp = 'bruno nunes'
print(comp)
comp = comp.title()
print(comp)

bruno nunes
Bruno Nunes

In [ ]:
# (UPPER) Coloca todas as letras de um texto em maiuscula

prof = 'douglas'
print(prof)
prof = prof.upper()
print(prof)

douglas
DOUGLAS

## **Estrutura de Condição - If, elif, else**


### Instrução "If":

* A instrução "If" é usada para executar um bloco de código se uma determinada condição for verdadeira. A sintaxe geral é a seguinte:

In [ ]:
'''
if condição:
  # bloco de código a ser executado se a condição for verdadeira
'''

In [ ]:
idade = 19
if idade >=18:                         # : Faça alguma coisa
    print('Você é maior de idade')

Você é maior de idade

In [ ]:
idade = 18
if idade >= 18:
    print('Você é maior de idade')

Você é maior de idade

In [ ]:
idade = 17
if idade >= 18:
    print('Você é maior de idade')

### Instrução "else":
* A instrução "else" é usada em conjunto com a instrução "If" e especifica um bloco de código a ser executado se a condição do "If" não for verdadeira. A sintaxe geral é a seguinte:

In [ ]:
'''
if condição:
  # bloco de código a ser executado se a condição for verdadeira
else:
  # bloco de código a ser executado se a condição não for verdadeira
'''

In [ ]:
idade = int(input('Digite sua idade: '))

if idade >= 18:
    print('Você é maior de idade')
else:
    print('Você é menor de idade')

Digite sua idade: 26
Você é maior de idade

### Instrução "elif":
* A instrução "elif" é uma abreviação de "else if" e permite testar múltiplas condições em sequencia. Ela é usada quando há mais de duas possibilidades a serem consideradas. A sintaxe geral é a seguinte:

In [ ]:
'''
if condição1:
    # bloco de código a ser executado se a condição1 for verdadeira
elif condição2:
    # bloco de código a ser executado se a condição2 for verdadeira
else:
    # bloco de código a ser executado se nenhuma das condição anterior for verdadeira

In [ ]:
nota = int(input('Informe sua nota: '))

if nota >= 90:
    print('Sua nota é A.')

elif nota >= 80:
    print('Sua nota é B.')

elif nota >= 70:
    print('Sua nota é C.')

else:
    print('Sua nota é D.')

Informe sua nota: 100
Sua nota é A.

Exemplo:
*  Escreva um programa que verifique se um número digitado pelo usuário é positivo, negativo ou zero.
Passo a passo:

1. Solicite ao usuário que digite um número.
2. Armazene o número digitado em uma variável chamada "numero".
3. Verifique se o número digitado é igual a zero. Se sim, exiba a mensagem "O número digitado é zero."
4. Caso contrário, verifique se o número é maior que zero. Se sim, exiba a mensagem "O número digitado é positivo."
5. Se nenhuma das condições anteriores for atendida, significa que o número é negativo. Nesse caso, exiba a mensagem "O número digitado é negativo."
6. Encerre o programa.

In [ ]:
numero = float(input("Digite um número: "))

if numero == 0:
    print("O número digitado é zero.")
elif numero > 0:
    print("O número digitado é positivo.")
else:
    print("O número digitado é negativo.")

Digite um número: -1
O número digitado é negativo.

## **Atividades - Aula 15:**

1. Faça um algoritmo que leia um número inteiro e diga se ele é maior, menor ou igual a 10;
2. Faça um algoritmo que leia dois números inteiros e apresente na tela o maior deles ou se eles são iguais;
3. Crie um algoritmo que leia um número e diga se ele está no intervalo fechado entre 25 e 200;
4. Crie um algoritmo que leia um número e informe na tela se o mesmo é positivo. Caso seja, mostre o número na tela;
5. Crie um algoritmo que leia um número e informe se ele é divisível por 7.
6. Crie um algoritmo que leia um número e diga se ele é par ou ímpar.
7. Escreva um programa em Python que solicite ao usuário que digite uma letra. Em seguida, verifique se a letra digitada é uma vogal ou não.
8. Escreva um programa que solicite ao usuário três notas de um aluno e calcule a média. Em seguida, exiba a média e uma mensagem informando se o aluno foi aprovado (média maior ou igual a 7) ou reprovado.
9. Escreva um programa que solicite ao usuário os comprimentos dos três lados de um triângulo. Em seguida, exiba uma mensagem informando se o triângulo é equilátero (todos os lados iguais), isósceles (dois lados iguais) ou escaleno (todos os lados diferentes).
10.  Escreva um programa que solicite ao usuário sua idade e exiba uma mensagem informando em qual faixa etária ele se encontra: criança (0-12 anos), adolescente (13-17 anos), adulto (18-59 anos) ou idoso (60 anos ou mais).

In [ ]:
# 1. Faça um algoritmo que leia um número inteiro e diga se ele é maior, menor ou igual a 10;

num = int(input('Digite um número inteiro: '))

if num == 10:
    print('O número digitado é 10.')

elif num > 10:
    print('O número digitado é maior que 10.')

else:
    print('O número digitado é menor que 10.')

Digite um numero inteiro: 9
O numero digitado é menor que 10.

In [ ]:
# 2. Faça um algoritmo que leia dois números inteiros e apresente na tela o maior deles ou se eles são iguais;

num1 = int(input('Digite o primeiro número inteiro: '))
num2 = int(input('Digite o segundo número inteiro: '))

if num1 == num2:
    print('Os números digitados são iguais.')

elif num1 > num2:
    print(f'O maior número digitado é {num1}.')

else:
    print(f'O maior número digitado é {num2}.')

Digite o primeiro número inteiro: 11
Digite o segundo número inteiro: 12
O maior número digitado é 12.

In [ ]:
# 3. Crie um algoritmo que leia um número e diga se ele está no intervalo fechado entre 25 e 200;

num = float(input('Digite um número: '))

if num >= 25 and num <= 200:
    print('O número digitado está no intervalo fechado entre 25 e 200.')

else:
    print('O número digitado está fora do intervalo fechado entre 25 e 200.')

Digite um número: 24.9
O número digitado está fora do intervalo fechado entre 25 e 200.

In [ ]:
# 4. Crie um algoritmo que leia um número e informe na tela se o mesmo é positivo. Caso seja, mostre o número na tela;

num = float(input('Digite um número: '))

if num > 0:
    print(f'O número digitado é positivo. O número digitado foi {num}.')

else:
    print('O número digitado é neutro ou negativo.')

Digite um número: -1.2
O número digitado é neutro ou negativo.

In [ ]:
# 5. Crie um algoritmo que leia um número e informe se ele é divisível por 7.

num = float(input('Digite um número: '))

if num % 7 == 0:
    print('O número digitado é divisivel por 7.')

else:
    print('O número digitado não é divisivel por 7.')

Digite um número: 14.0
O número digitado é divisivel por 7

In [ ]:
# 6. Crie um algoritmo que leia um número e diga se ele é par ou ímpar.

num = int(input('Digite um número: '))

if num % 2 == 0:
    print('O número digitado é par.')

else:
    print('O número digitado é ímpar.')

Digite um número: 0
O número digitado é par.

In [ ]:
# 7. Escreva um programa em Python que solicite ao usuário que digite uma letra. Em seguida, verifique se a letra digitada é uma vogal ou não.

letter = str(input('Digita apenas uma letra: '))
letter = letter.upper()

if letter == ('A') or letter == ('E') or letter == ('I') or letter == ('O') or letter == ('U'):
    print('A letra digitada é uma Vogal.')

else:
    print('A letra digitado não é uma Vogal.')

Digita apenas uma letra: u
A letra digitada é uma Vogal.

In [ ]:
# 8. Escreva um programa que solicite ao usuário três notas de um aluno e calcule a média. Em seguida, exiba a média e uma mensagem informando se o aluno foi aprovado (média maior ou igual a 7) ou reprovado.

num1 = float(input('Digite a primeira nota: '))
num2 = float(input('Digite a segunda nota: '))
num3 = float(input('Digite a terceira nota: '))

media = (num1 + num2 + num3) / 3

if media >= 7:
    print(f'A média foi: {media:.2f}. Parabéns, o aluno foi aprovado!')

else:
    print(f'A média foi: {media:.2f}. Infelizmente, o aluno foi reprovado!')

Digite a primeira nota: 7
Digite a segunda nota: 8
Digite a terceira nota: 9
A média foi: 8.00. Parabéns o aluno foi aprovado!

In [ ]:
# 9. Escreva um programa que solicite ao usuário os comprimentos dos três lados de um triângulo. Em seguida, exiba uma mensagem informando se o triângulo é equilátero (todos os lados iguais), isósceles (dois lados iguais) ou escaleno (todos os lados diferentes).

side1 = float(input('Informe o comprimento do primeiro lado: '))
side2 = float(input('Informe o comprimento do segundo lado: '))
side3 = float(input('Informe o comprimento do terceiro lado: '))

if side1 < (side2 + side3) and side2 < (side1 + side3) and side3 < (side2 + side1): #Verificar se é possivel formar um triangulo com valores fornecidos.
    tri = True
else:
    tri = False

if tri == True:
    print('As medidas informadas formam um triangulo.')
else:
    print('As medidas informadas não formam um triangulo.')

if tri == True:
    if side1 == side2 and side1 == side3:
        print('Seu triangulo é equilátero!')

    elif (side1 == side2 or side1 == side3 or side2 == side3) # and (side1 != side2 or side1 != side3 or side2 != side3):
        print('Seu triangulo é isósceles!')

    else:
        print('Seu triangulo é escaleno!')
else:
    pass

Informe o comprimento do primeiro lado: 10
Informe o comprimento do segundo lado: 9
Informe o comprimento do terceiro lado: 8
As medidas informadas formam um triangulo.
Seu triangulo é escaleno!

In [ ]:
# 10. Escreva um programa que solicite ao usuário sua idade e exiba uma mensagem informando em qual faixa etária ele se encontra: criança (0-12 anos), adolescente (13-17 anos), adulto (18-59 anos) ou idoso (60 anos ou mais).

idade = int(input('Digite sua idade: '))

if idade >= 0 and idade <= 12:
    print('Sua faixa etária é: criança (0-12 anos).')

elif idade >= 13 and idade <= 17:
    print('Sua faixa etária é: adolescente (13-17 anos).')

elif idade >= 18 and idade <= 59:
    print('Sua faixa etária é: adulto (18-59 anos).')

else:
    print('Sua faixa etária é: idoso (60 anos ou mais).')

Digite sua idade: 17
Sua faixa etária é: adolescente (13-17 anos).

# **Estruturas de dados em Python - Parte 1 (Listas)**

* Lista é uma estrutura que pode armazenar diversos valores sobre um determinado atributo

In [ ]:
lista_vazia = []
# print(lista_vazia)
noivo = ['Zé','Mané','Ana','Fran','João','Franz']
print(f'Convidados do noivo: {noivo}')
idades = [41, 47, 46, 28, 17, 50]
print(f'Idades dos convidados do noivo: {idades}')
massas = [86, 74, 52, 47, 90, 110]
print(f'Peso dos convidados do noivo: {massa_conv}')
alturas = [1.68, 1.74, 1.65, 1.65, 1.80, 1.97]
print(f'Altura dos convidados do noivo: {altura}')

Convidados do noivo: ['Zé', 'Mané', 'Ana', 'Fran', 'João', 'Franz']
Idades dos convidados do noivo: [41, 47, 46, 28, 17, 50]
Peso dos convidados do noivo: [86, 74, 52, 47, 90, 110]
Altura dos convidados do noivo: [1.68, 1.74, 1.65, 1.65, 1.8, 1.97]

In [ ]:
# Acessando um elemento da lista a partir do seu indice

print(noivo[3])
podio = noivo[:3]
print(podio)

Fran
['Zé', 'Mané', 'Ana']

In [ ]:
# Metodo Index(valor procurado, a partir de qual indice, e até qual indice)

id = noivo.index('Fran',)

NameError: ignored

In [ ]:
# Qual é o IMC da convidada Fran
print(f'O IMC da Fran é {(massas[id]/alturas[id]**2):.2f}')

O IMC da Fran é 17.26

In [ ]:
#Exercicio

consulta_nome = str(input('Consulte se o nome está cadastrado: '))
consulta_nome = consulta_nome.capitalize()
#consulta_nome = consulta_nome.replace('e','é')

if consulta_nome in noivo:
    id = noivo.index(consulta_nome)
    print(f'O nome está na lista. O IMC de {consulta_nome} é {(massas[id]/alturas[id]**2):.2f}')
else:
    print(f'Desculpe, o nome {consulta_nome} não está na lista. Reinicie o programa para uma nova consulta.')

Consulte se o nome está cadastrado: bruno
Desculpe, o nome Bruno não está na lista. Reinicie o programa para uma nova consulta.

In [ ]:
# Adicionando elementos em uma lista com o metodo Append() por padrão insereo valor desejado em uma lista existente na ultima posição
lista_vazia = []
print(lista_vazia)
#nome = str(input('Insira um nome para cadastro: '))
lista_vazia.append('Joana')
lista_vazia.append('Douglas')
lista_vazia.append('Eduardo')
lista_vazia.append('Ester')
lista_vazia.append('Daniela')
lista_vazia.append('Pedro')
lista_vazia.append('Maria')
print(lista_vazia)
fam = lista_vazia
print(fam)

[]
['Joana', 'Douglas', 'Eduardo', 'Ester', 'Daniela', 'Pedro', 'Maria']
['Joana', 'Douglas', 'Eduardo', 'Ester', 'Daniela', 'Pedro', 'Maria']

In [ ]:
# Inserir valor em alguma posição existente da lista

fam.insert(3, 'Tobias')
print(fam)

['Joana', 'Douglas', 'Eduardo', 'Tobias', 'Ester', 'Daniela', 'Pedro', 'Maria']

In [ ]:
# Substituir o valor de uma valor da lista

fam[3] = 'Raimundo'
print(fam)

['Joana', 'Douglas', 'Eduardo', 'Raimundo', 'Ester', 'Daniela', 'Pedro', 'Maria']

In [ ]:
# Excluir elementos de uma lista

fam.pop() # Exclui pelo indice, por padrão exclui o ultimo elemento se não informado nenhum indice
print(fam)

['Joana', 'Douglas', 'Eduardo', 'Raimundo', 'Ester', 'Daniela', 'Pedro']

In [ ]:
# Excluir Joana da lista fam pelo metodo pop

fam.pop(0)
print(fam)

['Douglas', 'Eduardo', 'Raimundo', 'Ester', 'Daniela', 'Pedro']

In [ ]:
# Excluir Raimundo da lista fam pelo metodo remove

fam.remove('Raimundo')
print(fam)

['Douglas', 'Eduardo', 'Ester', 'Daniela', 'Pedro']

In [ ]:
# criando uma lista com strings
nomes = ['Douglas', 'Daniela', 'Pedro', 'Maria', 'Eduardo', 'Ester']

# criando uma lista com números inteiros
pesos = [78, 25, 98, 63, 92, 67]

# criando uma lista com números fracionários
alturas = [1.85, 1.29, 1.75, 1.67, 1.82, 1.70]

In [ ]:
# forçando um erro usando o remove
nomes.remove('xerox')

In [ ]:
# solução 1
teste = input('Informe o nome que deseja excluir da lista: ') # recebe um nome do usuário e o guarda na variável teste
teste = teste.capitalize() # Padroniza a variável teste com a primeira letra maiúscula
if teste in nomes: # verifica se o nome armazenado em teste está na lista de nomes
  nomes.remove(teste) # se somente se o nome armazenado em teste estiver na lista, faz a exclusão
  print(f'O nome {teste} foi exluído com sucesso') # imprime o resultado da exclusão se somente se ela for feita
else:
  print(f'O nome {teste} não está na lista, logo não pode ser excluído') # Caso o nome digitado não esteja na lista informa o usuário essa situação

Informe o nome que deseja excluir da lista: xerox
O nome Xerox não está na lista, logo não pode ser excluído

In [ ]:
# solução 2 (utlizando try/except)
teste2 = input('Informe o nome que deseja excluir da lista: ') # recebe um nome do usuário e o guarda na variável teste
teste2 = teste2.capitalize()# Padroniza a variável teste com a primeira letra maiúscula
try: # comando para tentar fazer alguma ação
  nomes.remove(teste2) # ação que será feita caso a tentativa seja bem sucedida (neste caso se o nome digitado estiver na lista)
  print(f'O nome {teste2} foi excluído com sucesso') # imprime o resultado da exclusão se somente se ela for feita
except: # comando para o caso da tentativa (try) ser mal sucedida (no caso se o nome não estiver na lista)
  print(f'O nome {teste2} não está na lista, logo não pode ser excluído') # Caso o nome digitado não esteja na lista informa o usuário essa situação

In [ ]:
# Tamanho da lista len(lista)
print(len(nomes))

# Maior valor da lista
print(max(pesos))

# Menor valor da lista
print(min(alturas))

# Soma dos valores de uma lista
print(sum(alturas))

# Contando a frequência de um valor em uma lista
print(nomes.count('Douglas'))

# Ordenar uma lista crescente
nomes.sort()
print(nomes)
# Ordenar uma lista decrescente
nomes.sort(reverse=True)
print(nomes)

6
98
1.29
10.08
1
['Daniela', 'Douglas', 'Eduardo', 'Ester', 'Maria', 'Pedro']
['Pedro', 'Maria', 'Ester', 'Eduardo', 'Douglas', 'Daniela']

In [ ]:
# Adicionando todos os elementos de uma lista em outra usando o método extend
# Melhor para alteração no banco de dados
nomes1 = ['Zé', 'Mané']
nomes2 = ['Ana', 'José']

nomes1.extend(nomes2)

print(nomes1)

['Zé', 'Mané', 'Ana', 'José']

In [ ]:
# Adicionando todos os elementos de uma lista em outra usando sinal de (+) (concatenando listas)
# Melhor para filtro
nomes1 = ['Zé', 'Mané']
nomes2 = ['Ana', 'José']

teste = nomes1 + nomes2
print(teste)

['Zé', 'Mané', 'Ana', 'José']

In [ ]:
# Colocando uma lista dentro de outra
carros = ['Fusca', 'Gol']
carros2 = ['Uno', 'Punto', 'Bravo']
carros.append(carros2)
print(carros)

['Fusca', 'Gol', ['Uno', 'Punto', 'Bravo']]

In [ ]:
# Acessando uma lista da outra
fiat = carros[2]
print(fiat)

['Uno', 'Punto', 'Bravo']

In [ ]:
# Acessando um item de uma lista que está dentro de outra
ok = carros[2][0]
print(f'O melhor carro de todos os tempos é o {ok}')

O melhor carro de todos os tempos é o Uno

## **Função Range**

In [ ]:
# Função range com um argumento cria um lista com n valores inteiros de 0 a a n-1
lista1 = list(range(5))
print(lista1)
# Função range com dois argumentos cria um lista com n valores inteiros do início informado no primeiro argumento até  ((n-1) - primeiro argumento informado) informado no segundo argumento
lista2 = list(range(1,5))
print(lista2)
# Função range com três argumentos cria um lista com definição de onde começar (primeiro argumento), onde parar (segundo argumento) e de qual tamando de intervalo entre os valores (terceiro argumento)
lista3 = list(range(1,5,2))
print(lista3)

[0, 1, 2, 3, 4]
[1, 2, 3, 4]
[1, 3]

# **Estruturas de repetição (For)**

In [ ]:
# Apresentando e utilizando o for de forma simples
pesos = [78, 25, 98, 63, 92, 67]
for i in pesos:
  print(i)

78
25
98
63
92
67

In [ ]:
# Utilizando o for com else
for i in pesos:
    print(i)
else:
    print('Todos os items foram exibidos com sucesso')

78
25
98
63
92
67
Todos os items foram exibidos com sucesso

In [ ]:
# Utilizando o for com range
alturas_quad = []
imc = []
for i in range(len(pesos)):
  print(i)
  alturas_quad.append(alturas[i]**2)
  imc.append(pesos[i]/alturas_quad[i])
print(f'IMC: {imc}')

0
1
2
3
4
5
IMC [22.79035792549306, 15.023135628868456, 32.0, 22.589551436050055, 27.77442337881898, 23.18339100346021]

In [ ]:
# Utilizando o for com enumerate
alturas_quad = []
imc = []
for i, v in enumerate(pesos):
  print(i)
  print(v)
  alturas_quad.append(alturas[i]**2)
  imc.append(pesos[i]/alturas_quad[i])
print(f'IMC {imc}')

0
78
1
25
2
98
3
63
4
92
5
67
IMC [22.79035792549306, 15.023135628868456, 32.0, 22.589551436050055, 27.77442337881898, 23.18339100346021]

In [ ]:
notas = [5, 9, 6, 8, 7]

for i, v in enumerate(notas):
    if notas[i] >= 7:
        print(f'Aprovado com nota {notas[i]}.')
    else:
        print(f'Reprovado com nota {notas[i]}.')

Reprovado com nota 5.
Aprovado com nota 9.
Reprovado com nota 6.
Aprovado com nota 8.
Aprovado com nota 7.

# **Estruturas de repetição (While)**

In [ ]:
c = 0
n = int(input('Informe quantas vezes deseja ver a mensagem: '))

while c < n:
    print('Hello World')
    c += 1

In [ ]:
'''
Faça um script que recebe do usuario 5 numeros inteiros, armazene os numeros recebidos
em uma lista e no final, exiba a soma desses valores
'''
dados_rec = []

dados = int(input('Informe um numero: '))
dados_rec.append(dados)

dados1 = int(input('Informe um numero: '))
dados_rec.append(dados1)

dados2 = int(input('Informe um numero: '))
dados_rec.append(dados2)

dados3 = int(input('Informe um numero: '))
dados_rec.append(dados3)

dados4 = int(input('Informe um numero: '))
dados_rec.append(dados4)


print(sum(dados_rec))

In [ ]:
'''
Faça um script que recebe do usuario 5 numeros inteiros, armazene os numeros recebidos
em uma lista e no final, exiba a soma desses valores
'''

numeros = []

numeros.append(int(input('Digite um número inteiro: ')))
numeros.append(int(input('Digite um número inteiro: ')))
numeros.append(int(input('Digite um número inteiro: ')))
numeros.append(int(input('Digite um número inteiro: ')))
numeros.append(int(input('Digite um número inteiro: ')))

print(sum(numeros))

In [ ]:
'''
Faça um script que recebe do usuario n numeros inteiros, armazene os numeros recebidos
em uma lista e no final, exiba a soma desses valores. Considere que o usuario deverá informar apenas 1 numero inteiro por caixa de dialogo.
'''

numero = []
qtd_num = int(input('Informe quantos numeros você gostaria de acresentar na lista: '))

contador = 0

while contador < qtd_num:
    num_user = int(input(f'Informe o {contador+1}º numero inteiro: '))
    numero.append(num_user)
    contador += 1
print(f'A soma dos números informados é: {sum(numero)}')

In [ ]:
'''
Faça um programa que receba do usuario numeros inteiros e os insira na lista
somente se o numero for impar e encerre o programa quando a lista possuir 5 numeros impares.
'''

num_impar = []

while len(num_impar) < 5:
    num = int(input('Informe um numero: '))
    if num % 2 != 0:
        num_impar.append(num)
    else:
        pass
print(num_impar)

In [ ]:
'''
Faça um script que recebe do usuario n numeros inteiros, armazene os numeros recebidos
em uma lista e no final, exiba a soma desses valores. Considere que o usuario deverá informar apenas 1 numero inteiro por caixa de dialogo.
'''

contador = 0
while True:
    try:
    qtd_num = int(input('Informe quantos numeros você gostaria de acresentar na lista: '))
    break
except:
    pass

numero = []

while contador < qtd_num:
    try:
        num_user = int(input(f'Informe o {contador+1}º numero inteiro: '))
        numero.append(num_user)
        contador += 1
    except:
        pass
        print(f'Atenção! Você não digitou um número inteiro, por favor, digite o {contador+1}º número novamente')
print(f'A soma dos números informados é: {sum(numero)}')

# **Python Básico - Funções**

In [ ]:
# Exemplo de função sem argumento e sem blocos de codigo

def teste():
    return print('Bom dia!')

In [ ]:
# Chamando a função teste criada no bloco anterior
teste()

In [ ]:
# Exemplo de função com argumento e com bloco de codigo
#Crie uma função que receba dois argumentos (x, y) e faça o calculo de x ** y

def elevar(x, y):
    vezes = x ** y
    return print(f'O valor de X elevado a Y é: {vezes}')

In [ ]:
# Chamando a função utilizando a ordem padrão dos argumentos
elevar(2, 3)

In [ ]:
# Chamando a função invertendo a ordem padrão dos argumentos sem aviso previo
elevar(3, 2)

In [ ]:
# Para inverter a ordem padrão dos argumentos é necessario explicitar os valores dp argumento
elevar(y=3, x=2)

In [ ]:
# Elabore uma função que receba do usuario os valores de preço de venda (p), custo variavel (cv), custo fixo (cf) e calcule o valor de ponto de equilibrio em quantidade e informe ao usuario.

def peq ():
    p = float(input('Informe o valor do preço unitario de venda em R$: '))
    cv = float(input('Informe o valor do custo variavel unitario em R$: '))
    cf = float(input('Informe o valor do custo fixo mensal em R$: '))
    qt = cf / (p - cv)
    return print(f'A partir de aproximadamente {qt:.0f} unidades você terá lucro.')

In [ ]:
peq()

In [ ]:
#Elabore uma função que receba em 6 inputs diferentes as seguintes informações
# 1 Receita Liquida em R$
# 2 Custo em R$
# 3 Estoques em R$
# 4 Contas a Receber em R$
# 5 Fornecedores em R$
# 6 Numero de Dias do Balanço

#Apos receber as informações acima a função deve calcular o valor e printa-lo dos seguintes KPI's:

#Prazo Médio de Estoques (PME)
#Prazo Médio de Recebimento (PMR)
#Prazo Médio de Pagamento (PMP)
#Ciclo Operacional (CO)
#Ciclo de Caixa (CC)

#E por ultimo:
#Se PMP for maior que CO, printe a mensagem "Em média essa empresa paga tantos dias depois de receber"

#Se PMP for menor que CO, printe a mensagem "Em média essa empresa paga tantos dias antes de receber"

#Se PMP for igual ao CO, printe a mensagem "Em média essa empresa paga no mesmo dia em que recebe"

In [ ]:
def calc_kpi():
    rec_liq = float(input('Informe a Receita Liquida em R$: '))
    custos = float(input('Informe o Custos em R$: '))
    estoques = float(input('Informe o Estoques em R$: '))
    contas_a_receber = float(input('Informe as Contas a Receber em R$: '))
    fornecedores = float(input('Informe a Fornecedores em R$: '))
    dias_bal = int(input('Informe o número de dias do Balanço: '))
    pme = (estoques / custos) * dias_bal
    pmr = (contas_a_receber / rec_liq) * dias_bal
    pmp = (fornecedores / custos) * dias_bal
    co = pme + pmr
    cc = co - pmp

    print('                                     ')
    print(f'-------------------KPIs FINANCEIROS-------------------')
    print(f'PRAZO MÉDIO DE ESTOQUES: {pme:.0f} dias.')
    print(f'PRAZO MÉDIO DE RECEBIMENTOS: {pmr:.0f} dias.')
    print(f'PRAZO MÉDIO DE PAGAMENTOS: {pmp:.0f} dias.')
    print(f'CICLO DE OPERACIONAL: {co:.0f} dias.')
    print(f'CICLO DE CAIXA: {cc:.0f} dias.')
    print(f'------------------------------------------------------')

    print('                                              ')

    if pmp > co:
        print(f'Em média essa empresa paga {abs(cc):.0f} dias depois de receber') # ABS é Absoluto, no caso, utiliza apenas o número.
    elif pmp < co:
        print(f'Em média essa empresa paga {abs(cc):.0f} dias antes de receber')
    else:
        print('Em média essa empresa paga no mesmo dia em que recebe')

In [ ]:
calc_kpi()

Informe a Receita Liquida em R$: 10000
Informe o Custos em R$: 7000
Informe o Estoques em R$: 600
Informe as Contas a Receber em R$: 600
Informe a Fornecedores em R$: 100
Informe o número de dias do Balanço: 360

-------------------KPIs FINANCEIROS-------------------
PRAZO MÉDIO DE ESTOQUES: 31 dias.
PRAZO MÉDIO DE RECEBIMENTOS: 22 dias.
PRAZO MÉDIO DE PAGAMENTOS: 5 dias.
CICLO DE OPERACIONAL: 52 dias.
CICLO DE CAIXA: 47 dias.
------------------------------------------------------

Em média essa empresa paga 47 dias antes de receber

In [ ]:
#Faça uma função sem parâmetro que ao ser acionada solicite ao usuário uma sequência
#númerica em uma única caixa de texto e separada por espaços e então
#após o usuário inserir os valores corretos a função devolva um print informando
#o valor da média, da variância e do desvio padrão da sequência informada

def list_medida():
    lista_user = (input('Informe uma sequencia de números separados por espaço: '))
    lista_user = lista_user.split()

    for i in range(len(lista_user)):
        lista_user[i] = float(lista_user[i])

    media = sum(lista_user) / len(lista_user)

    quad = []
    for i in range(len(lista_user)):
        quad.append((lista_user[i] - media)**2)

    variancia = sum(quad) / (len(lista_user)-1)

    desv_pad = variancia ** 0.5

    print('                                     ')
    print(f'---------MEDIDAS DESCRITIVAS---------')
    print(f'MÉDIA: {media:.2f}')
    print(f'VARIANCIA: {variancia:.2f}')
    print(f'DESVIO PADRÃO: {desv_pad:.2f}')
    print(f'-------------------------------------')

In [ ]:
list_medida()

Informe uma sequencia de números separados por espaço: 1 2 3 4 5

---------MEDIDAS DESCRITIVAS---------
MÉDIA: 3.00
VARIANCIA: 2.50
DESVIO PADRÃO: 1.58
-------------------------------------